<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Language" content="ar-sy" />
        <meta name="description" content="بيسب" />
        <title>My First Web Page</title>
    </head>
    <body style="font-family: ' Courier New', Courier, monospace !important;">
        <h1>My Table</h1>
        <table>
            <tr>
                <th>Journal date ar</th>
                <th>رقم المجلة</th>
                <th>Account Name Ar</th>
                <th>Transaction Text</th>
                <th>المبلغ</th>
                <th>Accumulated Ar</th>
            </tr>
            {{#each data}}
            <tr>
                <td>{{ this.journalDate }}</td>
                <td>{{ this.journalNum }}</td>
                <td>{{ this.nameAr }}</td>
                <td>{{ this.transactionText }}</td>
                <td>{{ this.amount }}</td>
                <td>{{ this.accumulated }}</td>
            </tr>
            {{/each}}
        </table>
    </body>
</html>
