<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Language" content="ar-sy" />
        <meta name="description" content="بيسب" />
        <title>My First Web Page</title>
    </head>
    <body>
        <h1>My Table</h1>
        <table>
            <tr>
                <th>Sales Id</th>
                <th>Color</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Amount</th>
            </tr>
            {{#each data}}
            <tr>
                <td>{{ this.salesId }}</td>
                <td>{{ this.colorant }}</td>
                <td>{{ this.sizeNameEn }}</td>
                <td>{{ this.price }}</td>
                <td>{{ this.quantity }}</td>
                <td>{{ this.totalAmount }}</td>
            </tr>
            {{/each}}
        </table>
    </body>
</html>
