<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Language" content="ar-sy" />
        <meta name="description" content="بيسب" />
        <title>My First Web Page</title>
    </head>
    <body style="font-family: ' Courier New', Courier, monospace !important;">
        <h1>My Table</h1>
        <table>
            <tr>
                <th>رقم الفاتورة</th>
                <th>الألوان</th>
                <th>الأحجام</th>
                <th>سعر</th>
                <th>كمية</th>
                <th>المبلغ الإجمالي</th>
            </tr>
            {{#each data}}
            <tr>
                <td>{{ this.salesId }}</td>
                <td>{{ this.colorant }}</td>
                <td>{{ this.sizeNameAr }}</td>
                <td>{{ this.price }}</td>
                <td>{{ this.quantity }}</td>
                <td>{{ this.totalAmount }}</td>
            </tr>
            {{/each}}
        </table>
    </body>
</html>
