<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Language" content="ar-sy" />
        <meta name="description" content="بيسب" />
        <title>My First Web Page</title>
    </head>
    <body>
        <h1>My Table</h1>
        <table>
            <tr>
                <th>Sales Id</th>
                <th>Last Modified Date</th>
                <th>Product</th>
                <th>Color</th>
                <th>Size</th>
                <th>Batch Number</th>
                <th>Trans Type</th>
                <th>Qty In</th>
                <th>Qty Out</th>
                <th>Balance</th>
            </tr>
            {{#each data}}
            <tr>
                <td class="td">{{ this.salesId }}</td>
                <td class="td">{{ this.lastModifiedDate }}</td>
                <td class="td">{{ this.nameen }}</td>
                <td class="td">{{ this.configid }}</td>
                <td class="td">{{ this.sizenameen }}</td>
                <td class="td">{{ this.batchno }}</td>
                <td class="td">{{ this.transType }}</td>
                <td class="td">{{ this.qtyIn }}</td>
                <td class="td">{{ this.qtyOut }}</td>
                <td class="td">{{ this.balance }}</td>
            </tr>
            {{/each}}
        </table>
    </body>
</html>
