<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Language" content="ar-sy" />
        <meta name="description" content="بيسب" />
        <title>My First Web Page</title>
    </head>
    <body style="font-family: ' Courier New', Courier, monospace !important;">
        <h1>My Table</h1>
        <table>
            <tr>
                <th>رقم الفاتورة</th>
                <th>العملاء</th>
                <th>كود العميل</th>
                <th>طريقة الدفع أو الدفع</th>
                <th>المبلغ الإجمالي</th>
                <th>خصم</th>
                <th>كمية</th>
                <th>الحالة</th>
            </tr>
            {{#each data}}
            <tr>
                <td>{{ this.salesId }}</td>
                <td>{{ this.nameAlias }}</td>
                {{# if this.walkincustomer}}
                {{# if this.phone}}
                <td class="td">{{ this.phone }}</td>
                {{else}}
                <td class="td">{{ this.custaccount }}</td>
                {{/if}}
                {{else}}
                <td class="td">{{ this.custaccount }}</td>
                {{/ if}}
                <td>{{ this.paymentMode }}</td>
                <td>{{ this.grossAmount }}</td>
                <td>{{ this.discount }}</td>
                <td>{{ this.netAmount }}</td>
                <td>{{ this.status }}</td>
            </tr>
            {{/each}}
        </table>
    </body>
</html>
